<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org/">
<head>
<style>
h1 {text-align: center;}
div{text-align: center;}
</style>
<meta charset ="utf-8">
<title> Details </title>
</head>
<body style="background-color:lightblue;">
<div class="container d-flex justify-content-center">
  <div class="card p-3">
    <div class="d-flex flex-row justify-content-between text-align-center">
      
      <i class="fas fa-ellipsis-v"></i>
    </div>
    <p class="text-dark">SAVINGS ACCOUNT</p>
    <div class="card-bottom pt-3 px-3 mb-2">
      <div class="d-flex flex-row justify-content-between text-align-center">
        <div class="d-flex flex-column"><span>Balance amount</span><div th:text="${Balance}"> </div></div>
        <p>click here to go back</p>
        <a href="/Home">
        <button type="button">Back</button>
        </a>
      </div>
    </div>
  </div>
</div>
</form>
</body>
</html>
